<div class="bank-account">
  <div class="bank-account__status" [class]="'bank-account__status--' + account.status"></div>
  <p class="bank-account__name">Name: <span class="font-weight-bold">{{ account.name }}</span></p>
  <p class="bank-account__balance">
    Balance: <span class="font-weight-bold">{{ account.balance }}</span>
  </p>
  <p class="bank-account__currency">
    Currency: <span class="font-weight-bold">{{ account.currency }}</span>
  </p>
  <div class="bank-account__withdraw withdraw">
    <input placeholder="Withdraw" type="number" />
    <button>
      Withdraw
    </button>
  </div>
</div>