<div [formGroup]="form" class="bank-account">
  <div class="bank-account__status" [class]="'bank-account__status--' + account.status"></div>
  <p class="bank-account__name">Name: <span class="font-weight-bold">{{ account.name }}</span></p>
  <p class="bank-account__balance">
    Balance: <span class="font-weight-bold">{{ account.balance | balance:account.currency:true }}</span>
  </p>
  <p class="bank-account__currency">
    Currency: <span class="font-weight-bold">{{ account.currency }}</span>
  </p>
  <div class="bank-account__withdraw withdraw">
    <input formControlName="withdraw" placeholder="Withdraw" type="number" />
    <button (click)="withdrawMoney()" [disabled]="!withdrawControlValue">
      Withdraw
    </button>
  </div>
  <ng-container *ngIf="withdrawControl.dirty && withdrawControl.errors as errors">
    <p *ngIf="errors['min'] as minError">
      Minimum value is {{ minError.min }}
    </p>
    <p *ngIf="errors['max']">Insufficient money in the account</p>
  </ng-container>
  <p *ngIf="showWithdrawWarning" class="withdraw__warning">
    {{ 'Are you sure to withdraw ' + withdrawControlValue + '?' }}
  </p>
</div>