/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/styles.scss';

.font-weight-bold {
  font-weight: bold;
}

.centerize {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}