<div
  [@fade]="account().status"
  [appCardStatus]="account().status"
  [formGroup]="form"
  class="bank-account"
>
  <div
    class="bank-account__status"
    [class]="'bank-account__status--' + account().status"
  ></div>
  <p class="bank-account__name">
    Name: <span class="font-weight-bold">{{ account().name }}</span>
  </p>
  <p
    class="bank-account__balance"
    [ngClass]="{
      'bank-account__balance--positive': balance > 0,
      'bank-account__balance--negative': balance < 0
    }"
  >
    Balance:
    <span class="font-weight-bold">{{
      balance | balance: account().currency : true
    }}</span>
  </p>
  <p class="bank-account__currency">
    Currency:
    <img
      [src]="'assets/icons/' + account().currency.toLowerCase() + '.svg'"
      alt="currency icon"
    />
  </p>
  <div class="bank-account__withdraw withdraw">
    <app-input-number
      formControlName="withdraw"
      placeholder="Withdraw"
    ></app-input-number>
    <button
      (click)="withdrawMoney()"
      [disabled]="!withdrawControlValue || form.invalid"
    >
      Withdraw
    </button>
  </div>
  @if (withdrawControl.dirty && withdrawControl.errors; as errors) {
    @if (errors["min"]; as minError) {
      <p>Minimum value is {{ minError.min }}</p>
    }
    @if (errors["max"]) {
      <p>Insufficient money in the account</p>
    }
  }
  @if (showWithdrawWarning && form.valid) {
    <p class="withdraw__warning">
      {{ "Are you sure to withdraw " + withdrawControlValue + "?" }}
    </p>
  }
  <ng-content></ng-content>
</div>
